/*Rawle Styling Sheet*/

.projects *{
    margin:0px;
    padding:0px;
}

.projects{
  font-family:arial,sans-serif;
  font-size:100%;
  background:url(/images/chalkboard-or-blackboard.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#fff;
}

.projects h2, .projects p{
  font-size:100%;
  font-weight:normal;
}

.projects ul, .projects li{
  list-style:none;
}

.projects ul{
  overflow:hidden;
  padding:3em;
}

.projects ul li{
  margin:1em;
  float:left;
}

.projects ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}

.projects ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:15em;
  width:15em;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.projects ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}

.projects ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}

.projects ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

.projects ul li a:hover, .projects ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

.projects ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}

.footer a {
  color:rgba( 0, 195, 229, 1);
  -webkit-transition:color .5s;
    transition:color .5s;
}

.footer a:hover{
  color:rgba( 0, 86, 101, .55);
  -webkit-transition:color .1s;
    transition:color .1s;
}