<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='/stylesheets/codecademy/Adoptly.css'>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <ul class='nav nav-pills'>
          <li class='active'><a href='#'>About</a></li>
          <li><a href='#'>Animals</a></li>
          <li><a href='#'>Adoptly</a></li>
          <li><a href='#'>Blog</a></li>
          <li><a href='#'>Events</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Meet your new best friend.</h1>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class='row'>
          <div class='col-md-4'>
            <h1 class='text-center'>Search</h1>
            <p class='text-center'>Find a pet based on location, type, breed, age, and gender. We look through hundreds of shelters, agencies, and rescue sites.<p>
            <a class='center-block btn btn-default btn-lg' href="#">Go</a>
          </div>
          <div class='col-md-4'>
          	<h1 class='text-center'>Learn</h1>
            <p class='text-center'>Read articles on feeding, training, grooming, and more. Our resources ensure that you are fully prepared as a new pet owner.<p>
            <a class='center-block btn btn-default btn-lg' href="#">Go</a>
          </div>
          <div class='col-md-4'>
          	<h1 class='text-center'>Help</h1>
            <p class='text-center'>Get involved to help pets in need. You can make a difference through volunteering, social media, and donations.<p>
            <a class='center-block btn btn-default btn-lg' href="#">Go</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="footer">
      <div class="container">
        <div class='row'>
          <div class='col-md-3'>
            <p>&copy; Adoptly</p>
          </div>
          <div class='col-md-9'>
            <ul>
              <li class='btn pull-right'>FAQ</li>
              <li class='btn pull-right'>Contact</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Latest compiled and minified JavaScript -->
    <!--JQuery-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!--Bootstrap-->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>