<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Custom CSS-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='/stylesheets/codecademy/Broadway.css'>
    <!-- Latest compiled and minified JavaScript -->
    <!--JQuery-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!--Bootstrap-->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src='/bower_components/angular/angular.min.js'></script>
  </head>
  <body>
        <nav class="navbar navbar-default navbar-inverse no-pad">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src='/images/BroadwayLogo.png'></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">About <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Work</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div class="jumbotron no-pad">
          <div class="container">  
            <div class="main">
              <div class='row'>
                <div class='col-xs-12'>
                  <h1 class='text-center'>We are Broadway</h1>
                </div><!--End of col-xs-12-->
              </div><!--End of row-->
              <div class='row'>
                <div class='col-xs-12 text-center'>
                  <a href="#" class='btn btn-default btn-main'>Get Started</a>
                </div><!--End of col-xs-12-->
              </div><!--End of row-->
            </div><!--End of main-->
          </div><!--End of container-->
        </div><!--End of jumbotron-->
        <div class='supporting'>
          <div class='container'>
            <div class='row text-center'>
              <div class='col-sm-4'>
                <div class='row'>
                  <div class='col-sm-12'>
                    <img src='https://s3.amazonaws.com/codecademy-content/projects/broadway/design.svg'>
                  </div><!--End of col-sm-12-->
                </div><!--End of row-->
                <div class='row'>
                  <div class='col-sm-12 text-center'>
                    <h2>Design</h2>
                    <p>Make your projects look great and interact beautifully.</p>
                    <a class='btn btn-default' href="#">Learn More</a>
                  </div><!--End of col-sm-12-->
                </div><!--End of row-->
              </div><!--End of col-sm-4-->
              <div class='col-sm-4'>
                <div class='row'>
                  <div class='col-sm-12'>
                    <img src='https://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg'>
                  </div><!--End of col-sm-12-->
                </div><!--End of row-->
                <div class='row'>
                  <div class='col-sm-12 text-center'>
                    <h2>Develop</h2>
                    <p>Use modern tools to turn your design into a web site</p>
                    <a class='btn btn-default' href="#">Learn More</a>
                  </div><!--End of col-sm-12-->
                </div><!--End of row-->
              </div><!--End of col-sm-4-->
              <div class='col-sm-4'>
                <div class='row'>
                  <div class='col-sm-12'>
                    <img src='https://s3.amazonaws.com/codecademy-content/projects/broadway/deploy.svg'>
                  </div><!--End of col-sm-12-->
                </div><!--End of row-->
                <div class='row'>
                  <div class='col-sm-12 text-center'>
                    <h2>Deploy</h2>
                    <p>Use modern tools to turn your design into a web site</p>
                    <a class='btn btn-default' href="#">Learn More</a>
                  </div><!--End of col-sm-12-->
                </div><!--End of row-->
              </div><!--End of col-sm-4-->
            </div><!--End of row-->
          </div><!--End of container-->
        </div><!--End of supporting-->
        <div class="footer">
          <div class="container">
            <p>&copy; Broadway 2015</p>
          </div>
        </div>
  </body>
</html>