@media (max-width: 425px) {
    .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: white;
    background-color: #FF4571;
    }

    a.list-group-item, button.list-group-item {
        color: #4F6CFF;
        background-color:#204056;
    }

    a.list-group-item:hover, button.list-group-item:hover {
        color: #4F6CFF;
        background-color:white;
    }
    
    .list-group{
        margin-bottom: 0px;
    }
}

@media (min-width: 426px) {
    .nav-center{
        padding-top:5px;
        text-align: center;
        background-color:#204056;
    }
    
    .nav{
        display: inline-block;
    }
    
    li{
        display:inline;
    }
    
    a{
        float:left;
    }
    
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color:white !important;
    background-color:#FF4571 !important;
}
    
    .supporting a{
    	margin-top:45px;
        margin-bottom:45px;
    }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.jumbotron{
  height:600px;
  margin:0; 
  padding:0px;
  background-image:url('https://s3.amazonaws.com/codecademy-content/projects/adoptly/bg.jpg');
  background-size:100% 600px;
}

.jumbotron h1{
  color:#e52364;
  font-size: 4em;
  margin-left:70px;
}

.footer{
	background-color:#e52364;
  padding:20px 0;
}

.footer p{
	color:white;
}

.footer ul{
list-style:none;
}

.footer li{
text-decoration:none;
display:inline;
color:white;
}