body {
  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/reader/bg.png');
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.panel-articleShift .panel+.panel{
  margin:0px;
}

.panel-articleShift .panel{
  border-radius:0px;
}