.no-pad{
    margin:0px;
    padding:0px;
}

.nav-pills li{
    border:1px solid red;
    border-radius:4px;
}

.nav-center {  
  text-align: center;
}

.nav-center ul {
    display: inline-block;
}

.nav-center li {
    display: inline
}

.nav-center a {
    float: left;
    color:#d8192f;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color:rgba(216,25,47,1);
    box-shadow:0 2px 4px rgba(0,0,0,.5);
    color:#fff;
}

.jumbotron {
  height: 400px;
  background-image:url('https://s3.amazonaws.com/codecademy-content/projects/bestbite/bg.jpg');
  background-size:100% 400px;
  color:white;
  margin:0px;
}

.banner {
  background-color:#36343f;
  height:180px; 
  color: #fff;
}

.banner a{
  text-decoration:none;
  color:white;
	background-color:rgba(216, 25, 47, .5);
  margin-top:15px;
}

#menu ul{
	list-style:none;
	margin-bottom: 12px;
}

#menu li{
	text-decoration:none;
}

#menu li:first-child{
	color:red;
  padding-bottom:10px;
}

.footer{
	background-color:#eeeeee;
  padding:30px 0px;
}

.footer a{
	color:red;
}

@media (min-width: 426px) {
    .nav-center ul{
        margin-top:20px;
        margin-bottom: 10px;
    }
}