body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
}

.main {
 background-color: #f2f2f2 ;
 padding: 40px 0;
}

.main h1{
    color: #F65A5B ;
}

.main h2 {
 background-color: #DDDDDD ;
 color: #999999 ;
 font-size: .85em;
 margin-bottom: 55px;
 padding: 20px 10px;
}

.thumbnail {
   border: 0px;
   position: relative;
   border-radius: 0;
   margin-bottom:55px;
}

.thumbnail a>img, .thumbnail>img {
   max-width: 100%;
}

.title{
 color: #444;
 margin:8px 0 0 0;
 font-size: 18px;
   font-weight: 800;
}

.date {
   color: #a3a3a3 ;
   font-size: 14px;
   font-weight: 200;
}

.order {
 background-color: #39D1B4 ;
 color: #fff;
 font-size: 18px;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   font-weight: 200;
   height: 80px;
   line-height: 80px;
   text-align: center;
   width: 80px;
 position: absolute;
 top: -40px;
 right: 20px;
}

.rating {
 text-align: right;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
}

.likes,
.dislikes {
   background: #F65A5B ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
   line-height: 40px;
   min-width: 40px;
   height: 40px;
   border-radius: 50%;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}

.likes:hover,
.dislikes:hover {
 color: #F65A5B ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}

.footer{
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .main h2 {
     font-size: 1.25em;
    }
    
    .thumbnail {
       padding: 20px;
    }
    
.thumbnail a>img, .thumbnail>img {
       width:100%;
       max-height:300px;
    }
}

@media (min-width: 992px) {
 .thumbnail a>img, .thumbnail>img {
        width:400px;
        height:230px;
    }
}