body{
    margin:0px;
    padding:0px;
    min-height:506px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bcbcbc+0,ffffff+11,ffffff+91,bcbcbc+100 */
    background: #bcbcbc; /* Old browsers */
    background: -moz-linear-gradient(left,  #bcbcbc 0%, #ffffff 11%, #ffffff 91%, #bcbcbc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #bcbcbc 0%,#ffffff 11%,#ffffff 91%,#bcbcbc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #bcbcbc 0%,#ffffff 11%,#ffffff 91%,#bcbcbc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#bcbcbc',GradientType=1 ); /* IE6-9 */

}

.no-pad{
    margin:0px;
    padding:0px;
}

.header{
     font-family: 'Oswald', sans-serif;    
}

.navbar-flipboard{
    margin:0px;    
}

.navbar-header a{
    padding:0px;    
}

.navbar-header img{
    width:42px;
    height:42px;
    margin:4px 15px;
}

.navbar-nav li a:hover{
    text-decoration:underline;
}

.btn-store li a img{
    width:125px;
    margin:4px 4px;
}

.slide{
    display:none;
}

.active-slide{
    display:block;    
}

.slide-img{
    width:100%;
    max-height:390px;
}

.feature{
   height:390px;
   background-image: url('https://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ac.png'); 
   background-size:100% 390px;
}

.featureWM{
    margin-top:12px;
}

.featureInfo{
    margin-top:24px;
}

.featureInfo a{
    font-family: 'Oswald', sans-serif;
    font-size:2em;
}

.slide-copy{
     font-family: 'Oswald', sans-serif; 
}

.slide-copy h2 {
  color: #b7b7b7;
  margin: 5px;
}

.slide-copy p {
  color: #959595;
  font-family: Georgia, "Times New Roman", serif;
  margin-top: 16px;
}
.slider-nav{
    margin:12px 0px 0px 0px;    
}

.slider-dots li {
  color: #bbbcbc;
  font-size: 30px;
  margin-right: 5px;
}

li.active-dot {
  color: #363636;
}

@media (min-width: 426px) {
  .navbar-flipboard{
      border-radius:0px;
  }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
    
    .btn-store li a img{
        width:146px;
    }
    
    .featureWM{
        width:50%;
    }
    
    .slide-copy h1{
        margin-top:70px;
    }
}

@media (min-width: 1024px) {
    .btn-store li a img{
        width:164px;
    }
}

@media (min-width: 1596px) {
    .featureWM{
        width:30%;
    }
}

