<div class='row'>
    <div class='col-xs-12'>
        <div class='commentTitle'>
            <h3 class='text-center'>{{post.title}}</h3>
        </div><!--End of commentTitle-->
    </div><!--End of col-->
</div><!--End of row-->
<div class='row' ng-repeat='comment in post.comments'>
    <div class='col-xs-12 col-sm-10 col-sm-offset-1'>
        <div class='commentContainer'>
            <div class='row'>
                <div class='col-xs-3 col-sm-2 col-md-1'>
                    <div class='thumbsUp'>
                        <i class="fa fa-thumbs-up" ng-click='upVote($index)'></i>
                    <span>{{comment.upvotes}}</span>
                    </div><!--End of thumbsUp-->
                </div><!--End of col-->
                <div class='col-xs-9 col-sm-10 col-md-11'>
                    <div class='commentBody'>
                        <span>{{comment.body}}</span>
                    </div><!--End of commentBody-->
                </div><!--End of col-->
            </div><!--End of row-->
        </div><!--End of commentContainer-->
    </div><!--End of col-->
</div><!--End of row-->
<div class='row'>
    <div class='col-xs-12'>
        <form id='comment' ng-submit="addComment()" style="margin-top: 50px">
            <h3> Submit Your Comment </h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Place comment here" ng-model="body"></input>
                </div><!--End of form-group-->
            <button type="submit" class="btn btn-danger">Suggest</button>
        </form>
                </div><!--End of col-->
            </div><!--End of row-->
